%h1{id: "heading"} Nutrition 

%center
    This is a nutrition page to provide you with heathy eating habits
    %br
%hr 

%br
%br
%table{:border => 1, id: "nutri"}
    %tbody
        %tr
            %th Group 1
            %th Group 2
            %th Group 3
        %tr
            %td Foods in Group 1
            %td Foods in Group 2
            %td Foods in Group 3
%br
%br
%center
    Input Information to get a healthy caloric intake to lose two pounds per week
    %br
%br
%center
    = link_to '<button type="button">Add New Info</button>'.html_safe, new_nutrition_path
    %br
%br
%table{:border => 1}
    %tbody
        %tr
            %td= "Height"
            %td= "Weight"
            %td= "Age"
            %td= "Caloric Intake"
    - @nutritions.each do |nutrition|
        %tr
            %td= link_to(nutrition.height, {:action => 'show', :id => nutrition.id}, :class => 'action show')
            %td= nutrition.weight
            %td= nutrition.age
            %td= nutrition.calories
%br
%br

%table
    %tr
        %td= link_to "Home", '/', {id: "newexer"}
        %td= link_to "About Us", '', {id: "newexer"}
        %td= link_to "Exercises", '/exercises', {id: "newexer"}
        %td= link_to "Nutrition", 'nutrition', {id: "newexer"}
        %td= link_to "Contact Us", '', {id: "newexer"}