%h1{id: "heading"} Nutrition 

%center
    This is a nutrition page to provide you with heathy eating habits
    %br
%hr 

%br
%br

%table{:border => 1, id: "nutri"}
    %tr
        %th Protein
        %th Carbohydrates
        %th Fats
    %tr
        %td 
            
            %ul 
            
            %li Greek Yogurt
            Protein Power: 23 g per 8 oz. serving
            
            %li Cottage Cheese
            Protein Power: 14 g per 0.5 cup serving
            %li Eggs
            Protein Power: 6 g per 1 large egg
            
            %li Peanut Butter
            Protein Power: 8 g per 2 tbsp serving
            
            %li Percent Milk
            Protein Power: 8 g per 1 cup serving
            
            %li Smoothies
            Protein Power: 16 g per 1 cup serving
            
            %li Steak (Top Or Bottom Round)
            Protein Power: 23 g per 3 oz. serving
            
            %li Ground Beef (90% Lean)
            Protein Power: 18 g per 3 oz. serving
            
            %li Pork Chops (Boneless)
            Protein Power: 26 g per 3 oz. serving
            
            %li Chicken Breast (Boneless And Skinless)
            Protein Power: 24 g per 3 oz. serving
            
            %li Turkey Breast
            Protein Power: 24 g per 3 oz. serving
            
            %li Yellowfin Tuna
            Protein Power: 25 g per 3 oz. serving
            
            %li Pepperoni
            Protein Power: 18 g per 3 oz. serving
            
            
        %td 
            %ul
            
            %li grains like rice, oatmeal, and barley
            %li grain-based foods like bread, cereal, pasta, and crackers
            %li starchy vegetables like potatoes, peas and corn
            %li fruit and juice
            %li milk and yogurt
            %li dried beans like pinto beans and soy products like veggie burgers
            %li sweets and snack foods like sodas, juice drinks, cake, cookies, candy, and chips
            %li Non-starchy vegetables like lettuce, cucumbers, broccoli, and cauliflower have very little carbohydrate and minimal impact on your blood glucose.

        %td 
            %ul
            %li avocado 
            %li butter 
            %li cheese
            %li olive oil 
            %li fish, nuts 
            %li coconut 
            %li chia seeds
%br
%br
%center
    Input Information to get a healthy caloric intake to lose two pounds per week
    %br
%br
%center
    = link_to '<button type="button">Add New Info</button>'.html_safe, new_nutrition_path
    %br
%br
%table{:border => 1}
    %tbody
        %tr
            %td= "Height"
            %td= "Weight"
            %td= "Age"
            %td= "Caloric Intake"
    - @nutritions.each do |nutrition|
        %tr
            %td= link_to(nutrition.height, {:action => 'show', :id => nutrition.id}, :class => 'action show')
            %td= nutrition.weight
            %td= nutrition.age
            %td= nutrition.calories
%br
%br