%h1{id: "heading"} Exercises


Exercise is one of the most important parts of keeping your body at a healthy weight. Exercise helps people lose weight and lower the risk of some diseases. Exercising to maintain a healthy weight decreases a person's risk of developing certain diseases

%hr 

%br
%br

%table{:border => 1,id: "exer"}
    %tbody
        %tr
            %th= link_to "Chest", '#chest', :id => 'exercise'
            %th= link_to "Back", '#back', :id => 'exercise'
            %th= link_to "Shoulders", '#shoulders', :id => 'exercise'
            %th= link_to "Biceps", '#biceps', :id => 'exercise'
            %th= link_to "Triceps", '#triceps', :id => 'exercise'
            %th= link_to "Legs", '#legs', :id => 'exercise'
            %th= link_to "Abs", '#abs', :id => 'exercise'
            %th= link_to "Cardio", '#cardio', :id => 'exercise'
%br
%br

Input the exercises you have completed for the week

%table{:border => 1}
    %tbody
        %tr
            %td= "Muscle"
            %td= "Exercise"
    - @exercises.each do |exercise|
        %tr
            %td= link_to(exercise.muscle, {:action => 'show', :id => exercise.id}, :class => 'action show')
            %td= exercise.description
%br
= link_to '<button type="button">Add New Exercise</button>'.html_safe, new_exercise_path
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br

#chest

%table{:border => 1}
    %tbody
        %tr 
            %td{id: "exerh",:colspan => 2} Chest
            -#@MuscleGroup.each do |x|
            -#x.show-exercise
            
        %tr
            %td Flat Dumbbell Press
            %td
                %ol
                    %li Lie down on a flat bench with a dumbbell in each hand resting on top of your thighs. The palms of your hands will be facing each other.
                    %li Then, using your thighs to help raise the dumbbells up, lift the dumbbells one at a time so that you can hold them in front of you at shoulder width.
                    %li Once at shoulder width, rotate your wrists forward so that the palms of your hands are facing away from you. The dumbbells should be just to the sides of your chest, with your upper arm and forearm creating a 90 degree angle. Be sure to maintain full control of the dumbbells at all times. This will be your starting position.
                    %li Then, as you breathe out, use your chest to push the dumbbells up. Lock your arms at the top of the lift and squeeze your chest, hold for a second and then begin coming down slowly. Tip: Ideally, lowering the weight should take about twice as long as raising it.
                    %li Repeat the movement for the prescribed amount of repetitions of your training program.
            
            
        %tr
            %td Incline Dumbell Press
            %td Performed on an incline bench.
            
                
                
%br
%br
%br
%br
%br
%br
%br

                
            
#back

%table{:border => 1}
    %tbody
        %tr 
            %td{id: "exerh",:colspan => 2} Back
            -#@MuscleGroup.each do |x|
            -#x.show-exercise
            
        %tr
            %td Lat Pulldowns
            %td
                %ol
                    %li Sit at a lat pulldown station and grab the bar with an overhand grip that's just beyond shoulder width. Your arms should be completely straight and your torso upright.
                    %li Pull your shoulder blades down and back, and bring the bar to your chest. Pause, then slowly return to the starting position.
            
            
        %tr
            %td Barbell Rows
            %td 
                %ol
                    %li Holding a barbell with a pronated grip (palms facing down), bend your knees slightly and bring your torso forward, by bending at the waist, while keeping the back straight until it is almost parallel to the floor. Tip: Make sure that you keep the head up. The barbell should hang directly in front of you as your arms hang perpendicular to the floor and your torso. This is your starting position.
                    %li Now, while keeping the torso stationary, breathe out and lift the barbell to you. Keep the elbows close to the body and only use the forearms to hold the weight. At the top contracted position, squeeze the back muscles and hold for a brief pause.
                    %li Then inhale and slowly lower the barbell back to the starting position.
                    %li Repeat for the recommended amount of repetitions.
%br
%br
%br
%br
%br
%br
%br                   
                    

#shoulders

%table{:border => 1}
    %tbody
        %tr 
            %td{id: "exerh",:colspan => 2} Shoulders
            -#@MuscleGroup.each do |x|
            -#x.show-exercise
            
        %tr
            %td Overhead Military Press
            %td
                %ol
                    %li Start by placing a barbell that is about chest high on a squat rack. Once you have selected the weights, grab the barbell using a pronated (palms facing forward) grip. Make sure to grip the bar wider than shoulder width apart from each other.
                    %li Slightly bend the knees and place the barbell on your collar bone. Lift the barbell up keeping it lying on your chest. Take a step back and position your feet shoulder width apart from each other.
                    %li Once you pick up the barbell with the correct grip length, lift the bar up over your head by locking your arms. Hold at about shoulder level and slightly in front of your head. This is your starting position.
                    %li Lower the bar down to the collarbone slowly as you inhale.
                    %li Lift the bar back up to the starting position as you exhale.
                    %li Repeat for the recommended amount of repetitions.
            
            
        %tr
            %td Dumbell Lateral Raises
            %td 
                %ol
                    %li Pick a couple of dumbbells and stand with a straight torso and the dumbbells by your side at arms length with the palms of the hand facing you. This will be your starting position.
                    %li While maintaining the torso in a stationary position (no swinging), lift the dumbbells to your side with a slight bend on the elbow and the hands slightly tilted forward as if pouring water in a glass. Continue to go up until you arms are parallel to the floor. Exhale as you execute this movement and pause for a second at the top.
                    %li Lower the dumbbells back down slowly to the starting position as you inhale.
                    %li Repeat for the recommended amount of repetitions.
                    




%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br

%table
    %tr
        %td= link_to "Home", '/', {id: "newexer"}
        %td= link_to "About Us", '', {id: "newexer"}
        %td= link_to "Exercises", '', {id: "newexer"}
        %td= link_to "Nutrition", 'nutrition', {id: "newexer"}
        %td= link_to "Contact Us", '', {id: "newexer"}
