%center

  %h1 Enter New Muscle Exercise

  = form_tag exercises_path do

    = label :exercise, :muscle, 'Muscle'
    = text_field :exercise, 'muscle'

    = label :exercise, :description, 'Description'
    = text_field :exercise, 'description'

    = submit_tag 'Save Exercise'
    
%br
%br
%br
%br
