<!DOCTYPE html>
<html>
<head>
  <title>HealthyU</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<table>
  <tr>
    <td>
      <%= link_to "Home", '/', {id: "newexer"} %>
    </td>
    <td>
      <%= link_to "About Us", '', {id: "newexer"} %>
    </td>
    <td>
      <%= link_to "Exercises Page", '/exercises', {id: "newexer"} %>
    </td>
    <td>
      <%= link_to "Nutritions Page", 'nutritions', {id: "newexer"} %>
    </td>
    <td>
      <%= link_to "Contact Us", '', {id: "newexer"} %>
    </td>
  </tr>
</table>
</body>
</html>