<!DOCTYPE html>
<html>
<head>
  <title>HealthyU</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>




<%= yield %>

<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Users", users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", '#' %></li>
              <li><%= link_to "My Exercises", exercises_path %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
<br>
<br>
<table>
  <tr>
    <td>
      <%= link_to "Home", '/', {id: "newexer"} %>
    </td>
    <td>
      <%= link_to "About Us", '/aboutus', {id: "newexer"} %>
    </td>
    <td>
      <%= link_to 'Users', users_path, {id: "links"} %>
    </td>
    <td>
      <%= link_to "Exercises Page", exercises_path, {id: "newexer"} %>
    </td>
    <td>
      <%= link_to "Nutritions Page", 'nutritions', {id: "newexer"} %>
    </td>
    <td>
      <%= link_to "Contact Us", '', {id: "newexer"} %>
    </td>
  </tr>
</table>
</body>
</html>


